*{
    font-family:fantasy;
  }
  
  body {
    background-image: url("Recursos/Imgenes/fondoOscuro2.png");
    background-color: #122d67;
    background-size: 2000px;
    background-position:top;
    background-repeat: no-repeat;
  }
  
  @media (max-width: 1600px) {
  body {
    background-image: url("Recursos/Imgenes/fondoOscuro.png");
    background-size: 1600px;
    background-position:top;
    background-repeat: no-repeat;
  }

}

  @font-face {
    font-family: Pokedex;
    src: url('Recursos/FuenteTituloPokedex/Pokemon\ Solid.ttf');
  }
  
  .titulo {
    font-family: Pokedex;
    color: rgba(255, 255, 0, 0.963);
    -webkit-text-stroke: 2px rgb(0, 0, 156);
    margin:0;
    padding: 0;
    letter-spacing: 7px;
    text-align: center;
    font-size: 62px;
  }
  
  @media (max-width: 600px) {
    #lista-pokemon {
      margin-top: 120px;
    }
  
    .titulo {
      margin-top:40px;
    }
  }
  
  .boton{
    margin-top: 70px;
    border: solid 0;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
  }
  
  .lista-pokemon {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    background-color: #7b7b7b00;
    padding: 10px;
    width: 85%;
    margin:auto;
    margin-top: 60px;
  }
  
  .pokemon {
    background-color: rgba(44, 34, 150, 0.914);
    color:white;
    margin: auto;
    padding: 20px;
    text-align: center;
    border: solid 0;
    border-radius: 50px;
    max-width: 300px;
    box-shadow: 0 0 30px 3px white;
    transition: 0.5s;
    height: 400px;
  }
  
  .grid-item-pokemon{
    margin: auto;
  }
  
  .pokemon:hover{
    box-shadow: 0 0 80px 20px rgb(0, 255, 251);
    height: 420px;
  }
  
  .centrado{
    margin: auto;
  }
  
  .imagen-pokemons{
    width: 300px;
    height: 300px;
    border: solid 0;
    border-radius: 40px;
  }
  
  .buscador{
    margin-left: 10px;
    position: absolute;
    top: 140px;
    max-width: 30%;
    min-width: 220px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
  }
  
  .texto-buscador{
    font-size: 24px;
    color: white;
  }
  
  .input-buscador{
    padding:3px;
    padding-left: 7px;
    width: 150px;
    border-radius: 10px;
    margin: 5px 0 5px 0;
  }
  
  .modooscuro{
    padding:3px;
    padding-left: 8px;
    width: 150px;
    border-radius: 10px;
    position: absolute;
    right: 10px ;
    top: 160px;
    background-color:#122d67;
    color: white;
  }
  
  .modooscuro:hover{
    background-color:#ffffff;
    color: rgb(0, 0, 0);
  }
  
  .submit-buscador{
    background-color: rgba(0, 0, 0, 0);
    border:0;
  }
  
  .imagen-submit{
    width: 35px;
  }
  button{
    cursor: pointer;
  }
  .botonInicio{
    position:sticky;
    top:90%;
    left:95%;
    border: solid 2px white;
    border-radius: 70%;
    font-size: large;
    font-weight: bold;
    color: white;
    box-shadow: 0 0 20px 5px rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    background-color: rgb(16, 143, 222);
    transition: 0.5s;
  }
  .botonInicio:hover{
    box-shadow: 0 0 23px 8px rgb(255, 255, 255);
  }
  .imgUp{
    width: 20px;
  }

  .numero-pokemons{
   border: solid 0;
   border-radius: 7px;
   background-color: rgb(120, 119, 124);
   color:white;
   padding: 3px;
  }
  
  .filtro{
    display:none;
  }
  
  .tipos{
    padding: 5px 20px 8px 20px;
    border: solid 0;
    border-radius: 10px;
    margin: 0 10px 0 10px;
    text-align: center;
    color: white;
    border: 1px solid black;
  }
  
  .normal{
    background-color:  rgb(221, 221, 221);
    color: black;
  }
  
  .grass{
  background-color: rgb(45, 172, 45);
  }
  
  .fire{
  background-color: red ;
  }
  
  .flying{
  background-color: rgb(35, 163, 227);
  }
  
  .water{
  background-color: blue;
  }
  
  .bug{
  background-color: rgb(67, 204, 67);
  }
  
  .poison{
  background-color: rgb(180, 7, 248);
  }
  
  .electric{
  background-color: yellow;
  color: black;
  }
  
  .ground{
  background-color: #511515;
  }
  
  .fairy{
  background-color: rgb(255, 0, 221);
  }
  
  .fighting{
  background-color: orange;
  }
  
  .psychic{
  background-color: rgb(208, 0, 118);
  }
  
  .rock{
  background-color: rgb(136, 132, 100);
  }
  
  .ice{
  background-color: aqua;
  color: black;
  }
  
  .ghost{
  background-color: rgb(68, 8, 124);
  }
  
  .dragon{
  background-color: rgb(3, 3, 138);
  }
  
  .steel{
    background-color: rgb(84, 84, 84);
  }
  
  