body {
background-image: url("Imgenes/fondo1.png");
background-size: 1600px;
background-position:top;
background-repeat: no-repeat;
}

@font-face {
  font-family: Pokedex1;
  src: url('Recursos/FuenteTituloPokedex/Pokemon\ Hollow.ttf');
}
@font-face {
  font-family: Pokedex2;
  src: url('Recursos/FuenteTituloPokedex/Pokemon\ Solid.ttf');
}

.titulo {
  font-family: Pokedex2 ;
  color: rgba(255, 255, 0, 0.963);
  -webkit-text-stroke: 2px blue;
  margin:0;
  padding: 0;
  letter-spacing: 7px;
  text-align: center;
  font-size: 62px;
  
}

.lista-pokemon {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  background-color: #7b7b7b00;
  padding: 10px;
  width: 85%;
  margin:auto;
  margin-top: 100px;
}

.pokemon {
  background-color: rgba(255, 255, 255, 0.914);
  margin: auto;
  margin-top: 70px;
  padding: 20px;
  text-align: center;
  border: solid 0;
  border-radius: 50px;
  max-width: 300px;
  box-shadow: 0 0 30px 3px;
  transition: 2s;
}

.centrado{
  margin: auto;
}

.imagen-pokemons{
  width: 300px;
  height: 300px;
  border: solid 0;
  border-radius: 40px;
}

.buscador{
  margin-top: 0px;
  max-width: 40%;
  min-width: 220px;
}

.grid-item:hover{

}