
body {
  background-image: url("Recursos/Imgenes/fondo.png");
background-size: 1600px;
background-position:top;
background-repeat: no-repeat;   
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 70px;
}

 .principio{
  text-align: center;
  font-size: 62px;
  margin: 62px auto 220px auto;
}
.subclass-principio{
  margin:0 auto 0 auto;
}
.general {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(530px,1fr));
  margin-bottom: 40px;
}
.imagen{
  margin: auto;
  padding-bottom: 30px;
  
}
.imagen-pokemon{
  margin: auto;
  height: 500px;
  width:500px;
  
}

.descripcion{
  display: grid;
  grid-template-columns: auto;
  border: solid 0;
  border-radius: 20px;
  padding: 20px 0 0 30px;
  height: 80%;
  width: 80%;
  margin-bottom: 15px; 
}

.texto{
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  padding: 20px 0 0 30px;
  margin-bottom: 15px;
  border: 2px solid #5878ca;
  background-image: linear-gradient(to right,rgb(46, 122, 236),rgb(87, 178, 231),rgb(177, 224, 236));
  text-align: center;
  font-size: x-large;
  width: 90%;
  height: 60%; 
 }
  
.descripcionYtipo{
  margin: 40px;
  height: 80%;
  width: 100%;
}

.parrafo{
  font-size: x-large;
  margin-left: 5%;
  margin-bottom: 30px;

}
.tipodepokemon{
  font-size: x-large;
  margin: 0px 0 20px 10%;
}
.total-barras{
  border: solid 0;
  border-radius: 30px;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: linear-gradient(to bottom right,rgb(201, 201, 201),rgb(151, 155, 156), rgb(60, 60, 65) );
  margin: auto;
}
.myProgress {
    
  width: 85%;
  height: 30px; 
  border: solid 0;
  border-radius: 20px;
  margin-bottom: 10px;
  border-color: black;
  background-color: white;
  margin: 20px auto 20px auto;
}

#myBar-hp,#myBar-attack,#myBar-defense,#myBar-special-attack,#myBar-special-defense,#myBar-speed{
 
  width: 0%;
  height: 100%;
  border: solid 0;
  border-radius: 20px;
  padding-left: 10px;
  
  background-color: yellow;
  transition: 3s;
}

#label-hp,#label-attack,#label-defense,#label-special-attack,#label-special-defense,#label-speed {
  padding-left: 10px;
  position: absolute;
  line-height: 30px;
  color: rgb(0, 0, 0);
  font-size: large;
  
}

.grid-item {
  margin: auto;
}

.tituloEvol{
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  margin: 60px auto 0 auto;
}

.evoluciones{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
  margin-bottom: 100px;
  margin: 30px 50px 100px 50px;
  background-image: linear-gradient(to bottom right, rgb(220, 220, 220) ,rgb(109, 109, 109));
  padding: 50px 50px 50px 50px;
  border-radius: 40px;
}

.pokemonEvolucion{
  margin:auto;
}

.imgEvoluciones{
  box-shadow: 0 0 30px 3px rgb(255, 255, 255);
  transition: 0.5s;
width: 80%;
padding: 30px;
background-color: rgba(255, 255, 255, 0.779);
border-radius: 600px;
}

.imgEvoluciones:hover{
  box-shadow: 0 0 80px 20px orange;
}

.boton{
  border-radius: 600px;
  all:unset;
  cursor: pointer;
}

.evolucion{
  margin-top:30px;
  margin: auto;
  color:black;
  text-align: center;
  font-size: xx-large;
}

.mismoPokemon{
  margin-top:30px;
  margin: auto;
  color:rgb(0, 208, 255);
  text-align: center;
  font-size: xx-large;
}

img.mismoPokemon{
  background-image: linear-gradient(to bottom right, rgb(171, 255, 241) ,rgb(52, 109, 233));
}

.trigger{
  color: white;
  margin:auto;
  text-align: center;
  vertical-align:auto;
  margin: 50px auto 50px auto;
  font-size: x-large;
  
}

.tipos{
  padding: 5px 20px 8px 20px;
  border: solid 0;
  border-radius: 10px;
  margin: 0 10px 0 10px;
  text-align: center;
  color: white;
}
.normal{
  background-color:  rgb(221, 221, 221);
}
.grass{
background-color: rgb(45, 172, 45);;
}
.fire{
background-color: red ;
}
.flying{
background-color: rgb(35, 163, 227);
}
.water{
background-color: blue;
}
.bug{
background-color: rgb(67, 204, 67);
}
.poison{
background-color: rgb(180, 7, 248);
}
.electric{
background-color: yellow;
}
.ground{
background-color: brown;
}
.fairy{
background-color: rgb(255, 0, 221);
}
.fighting{
background-color: orange;
}
.psychic{
background-color: rgb(208, 0, 118);
}
.rock{
background-color: rgb(136, 132, 100);
}
.ice{
background-color: aqua;
}
.ghost{
background-color: rgb(68, 8, 124);
}
.dragon{
background-color: rgb(3, 3, 138);
}
