
body {
  background-image: url("Recursos/Imgenes/fondo.png");
background-size: 1600px;
background-position:top;
background-repeat: no-repeat;   
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 70px;
}

.general {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(570px,1fr));
 
}

 .principio{
  text-align: center;
  font-size: 62px;
  margin: 62px auto 220px auto;
}
.subclass-principio{
  margin:0 auto 0 auto;
}
.imagen{
  margin: auto;
  padding-bottom: 30px;
}
.imagen-pokemon{
  margin: auto;
  height: 530px;
  width:530px;/*hay que poner en porcentaje*/
}
.descripcion{
  display: grid;
  background-color: #2274bd;
  color: white;
  grid-template-columns: auto  auto;
  border: solid 0;
  border-radius: 20px;
  padding: 20px 0 0 30px;
  font-size:x-large;
  height: 300px;
  width: 80%;
  margin-bottom: 30px;
  margin:auto;
}
.tipodepokemon{
  font-size: x-large;
  margin: 15px 0 20px 10%;
}
.barras{
  background-color: grey;
  border: solid 0;
  border-radius: 15px;
  padding: 20px;
  margin: 40px;
  background-image: linear-gradient(to bottom right, rgb(3, 3, 88) ,rgb(30, 169, 224));
  padding-top:40px;
  height: 280px;
}

.progress {
height: 25px;
width: 84%;
border: 0px solid #000000;
border-radius: 5px;
background-color: #ffffff;
margin:0 auto 20px auto;
}

.progress-bar {
height: 100%;
width: 80%;
background: #f7f30e;
display:block;
align-items: center;
margin-bottom: 25px;
border-radius: 5px;
}

.progress-bar-text {
height: 50%;
width: 100%;
margin-left: 10px;
font-weight: bold;
color: #000000;
margin-bottom: 15px;
}
.grid-item {
  margin: auto;

}

.evoluciones{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
}
.evolucion{
  margin: auto;
  color:black;
}
.mismoPokemon{
  margin: auto;
  color:blue;
}



.tipos{
  padding: 5px 20px 8px 20px;
  border: solid 0;
  border-radius: 10px;
  margin: 0 10px 0 10px;
  text-align: center;
  color: white;
}
.normal{
  background-color:  rgb(221, 221, 221);
}
.grass{
background-color: rgb(45, 172, 45);;
}
.fire{
background-color: red ;
}
.flying{
background-color: rgb(35, 163, 227);
}
.water{
background-color: blue;
}
.bug{
background-color: rgb(67, 204, 67);
}
.poison{
background-color: rgb(180, 7, 248);
}
.electric{
background-color: yellow;
}
.ground{
background-color: brown;
}
.fairy{
background-color: rgb(255, 0, 221);
}
.fighting{
background-color: orange;
}
.psychic{
background-color: rgb(208, 0, 118);
}
.rock{
background-color: rgb(136, 132, 100);
}
.ice{
background-color: aqua;
}
.ghost{
background-color: rgb(68, 8, 124);
}
.dragon{
background-color: rgb(3, 3, 138);
}
